<div>
  <h1>Front Page</h1>
  {{ $scope.posts }}
  <div ng-repeat="posts in posts track by posts.data.id">
      <div>
        <a href="{{ posts.data.url }}" target="_blank">
          <img ng-src="{{ posts.data.thumbnail }}"/>
        </a>

        <a href="{{ posts.data.url }}" target="_blank">

        Author: <a ng-href="http://www.reddit.com/user/{{ posts.data.author }}" target="_blank">{{ posts.data.author }}</a><br>
        
        Upvotes: {{ posts.data.ups }}<br>
        
        <a ng-href="http://www.reddit.com{{ posts.data.permalink }}" target="_blank">Comments</a>
        </a>
      </div>
    </div>
</div>
